body
{
  background-color: black;
}

div.content
{
  top: 200px;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  border: 20px;
  background-color: hotpink;
  -webkit-border-radius: 150px;

}

h1
{
  color: white;
  text-align: center;
  font-family: system-ui;
}

header
{
  color: white;
  text-align: center;
  font-family: system-ui;
}

article
{
  color: white;
  text-align: center;
  font-family: system-ui;
}

div.head
{
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  border: 0px;
  background-image: linear-gradient(black, hotpink);
}
div.foot
{
  bottom: 0px;
  margin: 0 auto;
  width: 80%;
  height: 60px;
  border: 0px;
  background-image: linear-gradient(hotpink, black);
}
div.left
{
  position: absolute;
  top: 60px;
  left: 0px;
  width: 60px;
  height: 100%;
  border: 0px;
  background-image: linear-gradient(to right, black , hotpink);
}
div.right
{
  position: absolute;
  top: 60px;
  right: 0px;
  width: 60px;
  height: 100%;
  border: 0px;
  background-image: linear-gradient(to right, hotpink , black);
}

div.box
{
  width: 100px;
  height: 100px;
  @keyframes changecolor
  {
    0%
    {
      background-color: hotpink;
      transform: translate(0);

    }
    50%
    {
      background-color: beige;
      transform: scale(2);
    }
    100%
    {
      background-color: aquamarine;
      transform: translate(200px);
    }
  }

}
