body
{
  background-color: black;
}

div.content
{
  top: 200px;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background-color: orange;
  border-radius: 150px;
}

h1
{
  color: white;
  text-align: center;
  font-family: system-ui;
}

header
{
  color: white;
  text-align: center;
  font-family: system-ui;
}

article
{
  color: white;
  text-align: center;
  font-family: system-ui;
}
